body{
	background-color: #87c0f2;
}

.centred_image
{
   	text-align:	center;
    margin-top:	0px;
    margin-bottom:	0px;
    padding:	0px;
}

#guru_image{
    margin-top:	0px;
    margin-bottom:	0px;
	margin-right: 0px;
    padding:	0px;
	float: right;
}
    		
#image{
	margin-top: 5px;
	padding: 5px;
	background-color: white;
	border: solid black;
    border-width: 2px;
	border-radius: 10px;	
}

#titlebar_outer{
	border: solid 2px black;
	border-radius: 5px;
	background-color: #1352bf;
}

#titlebar{
	/*background-color: #2294f7;*/
	border-collapse: collapse;
	padding: 1px;
	margin: 5px;
}

#titlebar td{
	padding: 0px;
	margin: 0px;
	/*border: solid 1px black;*/
}

#titlebar .imagebox{
	width: 10%;
}

#titlebar img {
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}

#titlebar #bubble {
	background: white;
	display: block-inline;
	padding: 50px;
	border: solid black;
    border-width: 1px 1px 1px 0px;
	border-radius: 10px;
	background: white;
	float: left;
}

#titlebar #section {
	color: red;
	font-size: 8px;
	font-family: Arial, sans-serif;
	/*border: solid 1px black;*/
}

#titlebar #title{
	font-family: "Comic Sans MS", cursive, sans-serif;
	height: 100%;
	/*border: solid red 1px;*/
}

#content {
	margin-top: 5px;
	background: #cfe4f7;
	padding: 10px;
	border: solid 2px black;
}

#footer_outer{
	text-align: center;
	margin-top: 5px;
	border: solid 2px black;
	border-radius: 5px;
	background-color: #1352bf;
}

#footer_outer a:link{
 border: none;
 color: white;
 font-weight: bold;
 text-decoration: none;
}

#footer_outer a:visited{
 color: white;
 font-weight: bold;
 text-decoration: none;
}

#footer_outer a:hover{
 color: rgb(167,182,252);
 font-weight: bold;
 text-decoration: none;
}

#footer_outer .pad{
 padding: 10px;
}

#footer_outer span{
 color: white;
}